onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=protobufjs

# Hostinger no resuelve los symlinks de pnpm.
# Con esta opción pnpm copia los paquetes directamente a node_modules/ (sin symlinks).
shamefully-hoist=true
